html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full-page{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: 1/1/3/2;
    background-color: orange;
    padding: 20px;
}
.dashboard{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex: auto;
  
}
.user-icon{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;   
}

.dashboard img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

.user-icon img{
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.dashboard p{
    font-size: 30px;
    font-weight: 700;
}

.user-icon p{
    font-size: 20px;
    font-weight: 700;
}

.help-icons-holder{
    margin-top: 40px;

}

.header{
    grid-area: 1/2/2/3;
    background-color: white;
}

.main-content{
    grid-area: 2/2/3/3;
    padding: 25px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: black;
}

.header{
    padding-left: 40px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 5px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 1/2;
}

.searchbar{
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
}
.searchbar input{
    min-width: 200px;
    max-width: 1000px;
    height: 30px;
    background-color: #e2e8f0;
    border-radius: 20px;
    box-shadow: none;
    border: 0;
    flex: auto;
}

.profile{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-icon{
    width: 30px;
    height: 30px;
    padding-right: 20px;
}
.profile-icon{
    border-radius: 50%;
}
.profile > .profile-icon{
    height: 50px;
    width: 50px;
    padding-right: 20px;
    justify-self: flex-start;
}

.profile > p{
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}

.header-bottom{
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.greetings{
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-bottom: 0px;  
}
.greeting-text{
    font-weight: 500;
    margin-left: 10px;
}

.greeting{
    margin: 0;
}

.user-name{
    font-size: 30px;
    margin: 0;
}

.greetings > .profile-icon{
    height: 70px;
    width: 70px;
}

.project-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.project-button :last-child{
    margin-right: 0px;
}

.project-button{
    background-color: orange;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    box-shadow: none;
    margin-right: 20px;
    border: 0;
    font-size: 15px;
    font-weight: 500;
}

.main-content-title {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.card-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    
}

.cards{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid orange;
    
    padding: 15px;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
}

.card-icons{
    align-self: flex-end;
    justify-self: flex-end;
}

.card-icons img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.news-section{
    padding: 25px;
    padding-top: 0;
}

.news-section-title{
    color: white;
    font-size: 30px;
    font-weight: 600;  
}
.announcements{
    background-color: white;
    padding: 12px;
    border-radius: 10px;
}

.announce-card{
    border-bottom: 3px solid black;
    padding: 10px;
}

.announcements :last-child{
    border-bottom: 0;
}

.announce-title{
    font-size: 17px;
    font-weight: 500;
}
.trending{
    background-color: white;
    padding: 10px;
    border-radius: 10px;   
}
.trending-account{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trending-account-text{
    margin-left: 15px;
}

.trending-account-id    {
    margin-bottom: 0;
    font-weight: 400;
}
.trending-account-name{
    margin-top: 0;
    font-size: 15px;
    font-weight: 100;
}

.trending-account-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
